<div class="row">
	<button class="btn btn-info btn-sm" @onclick="(()=>_collapsed = !_collapsed)">
		<div class="row">
			<div class="col">
				Filled:@Order.FilledQuantity
			</div>
			<div class="col">
				Total:@Order.TotalQuantity
			</div>
			<div class="col">
				@Order.Direction
			</div>
		</div>
	</button>
	@if (!_collapsed)
	{
		<div>
			<p>TotalQuantity: @Order.TotalQuantity</p>
			<p>FilledQuantity: @Order.FilledQuantity</p>
			<p>AvgFilledPrice: @Order.AvgFilledPrice</p>
			<p>Commision: @Order.Commission</p>
		</div>
	}
</div>

@code {
	[Parameter]
	public DbOrder Order{ get; set; }
	
	private bool _collapsed = true;
}
